/* styles.css */
body, html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fffbea;
    color: #333;
    
  }
  

  header {
    background-color: #f7e7a9;
    text-align: center;
    padding: 20px;
  }
  
  header h1 {
    margin: 0;
    font-size: 2.5em;
  }

  .title{
    font-size: 4em;
  }
  
  nav {
    background-color: #f4d03f;
    padding: 10px;
  }

  .nav-item{
    font-size: 1.5em;
  }

  .nav-item:hover{
    text: #f4d03f;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
  }
  
  nav ul li {
    margin: 0 15px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }

  .Lemonsine{ 
    width: 700px;
    height: 350px;
    justify-content: center;
  }
  
  section {
    padding: 20px;
    text-align: center;
  }
  
  #products {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .product {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
  }
  
  .product img {
    width: 100px;
    height: 100px;
  }
  
  button {
    background-color: #f4d03f;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #e2c027;
  }
  
  footer {
    background-color: #f7e7a9;
    text-align: center;
    padding: 10px;
    position: static;
    bottom: 0;
    width: 100%;
  }

  .productBtn{
    width: 300px;
    height: 50px;
    font-size: 20px;
    text-decoration: none;
  }

  .productBtn:visited {
    text-decoration: none;
  }


  /* Products Section */
   #products {
    padding: 20px;
    text-align: center;
  }
  
  .products-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 20px; 
  }
  
  .product {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    width: 200px; 
    text-align: center;
  }
  
  .product img {
    width: 100px;
    height: 100px;
  }
  
  button {
    background-color: #f4d03f;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #e2c027;
    text-decoration: none;
  }